body{
    margin: 0px;
}

#main{
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, p{
    color: white;
}

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    padding: 5px;
    border-radius: 10px;
    border: solid 0px black;
}

button{
    padding: 5px;
    border-radius: 10px;
}

#partOne, #partTwo{
    height: 70vh;
    width: 70vw;
    transition: background-color 3s ease-out 0s;
    border-radius: 10px;
}

#partOne{
    background-color: #f472b6;
}

#partTwo{
    background-color: #ec4899;
}
