body{
    margin: 0px;
}

#main{
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, p{
    color: white;
}

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    padding: 5px;
    border-radius: 10px;
    border: solid 0px black;
}

button{
    padding: 5px;
    border-radius: 10px;
}

#partOne, #partTwo, #partThree{
    height: 70vh;
    width: 70vw;
    transition: background-color 3s ease-out 0s;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#partOne{
    background-color: #f472b6;
}

#partTwo, #partThree{
    background-color: #ec4899;
}

.continuar{
    border: 0px solid;
    color: #ec4899;
    background-color: #f472b6;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.continuar:hover{
    color: #f472b6;
    background-color: #db2777;
}

#partOne > div, #partTwo > div, #partThree > div{
    height: 50vh;
}

#partOne > div > p, #partTwo > div > p, #partThree > div > p{
    color: #ec4899;
    transition: color 2s ease-out 0s;
    font-size: 20px;
}

.content{
    display: flex;
    align-items: center;
    padding: 50px;
}

.content > p{
    font-size: 50px;
}